body{
    background-color: lightgray;
}

h1{
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

h2{
    color: purple;
    text-align: center;
}

p{
    color: black;
    line-height: 1.6;
}

a{
    color: purple;
    text-decoration: none;
}

article {
    width: 500px;
    padding: 20px;
    border: 5px solid black;
    margin: 30px;
    box-sizing: border-box;
}